:root {
    --card-height: 450px;
    --card-width: 350px
}

.card {
    width: var(--card-width);
    height: var(--card-height);
}

.card-front {
    background-color: red;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
    transform: rotateY(180deg);
    scale: 100%;
    backface-visibility: hidden;
    transition: transform 1s, scale .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    background-color: blue;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
    transform: rotateY(0deg);
    scale: 100%;
    bottom: var(--card-height);
    backface-visibility: hidden;
    transition: transform 1s, scale .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover .card-back {
    scale: 110%;
}

.card:hover .card-front {
    scale: 110%;
}